@use "styles/colors.scss" as c;
@use "styles/mixins.scss" as m;
@use "styles/variables.scss" as v;

.container {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 30px;

  @include m.until-laptop {
    gap: 15px;
  }

  .content {
    margin: 0;
    color: c.$white;
    font-size: v.$font-size-md;
  }
}

.link {
  cursor: pointer;
}
