@use "styles/mixins.scss" as m;

.container {
  display: flex;
  height: 80px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  width: 100%;
  padding: 0px 40px;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  z-index: 4;
  transition: all 0.5s;
  background: rgba(0, 0, 0, 0.185);

  &:hover {
    background: rgba(0, 0, 0, 0.8);
  }

  @include m.until-laptop {
    flex-direction: column;
    height: fit-content;
  }
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: -5px;

  position: absolute;
  left: 30px;

  width: 34%;
  @include m.until-laptop {
    width: fit-content;
    margin-bottom: 10px;
    position: relative;
    left: 0px;
  }
}

.title {
  font-size: 40px;
  margin: 0;
  background: linear-gradient(180deg, #ffffff 38%, transparent 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.sub-title {
  font-size: 16px;

  margin: 0;
  margin-top: -10px;
}

.button-bar {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
  @include m.until-laptop {
    display: none;
  }
}

.selected {
  transform: scale(1.4);
  color: white;
}
