.container {
  max-width: 100%;
  overflow: hidden;
  height: 100px;
}

@keyframes runningAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.icons {
  display: flex;
  //   transition: 1s;
}

.icons:hover {
  animation-play-state: paused;
}
