$blue: #007bff;
$blue-2: #099ed3;
$blue-3: #4288db;
$primary: #e60a0a;
$primary-dark: #c50909;
$purple: #b476cd;
$light-purple: #b277cf54;
$pink: #e83e8c;
$pink-2: #f28f8f;
$pink-3: #ed5959;
$pink-4: #c30460;
$pink-5: #c30560;
$light-red: #ed595969;
$pink-soft: #f5e3e4;
$red: #dc3545;
$red-2: #d82c2c;
$red-2-darker: #cd2626;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$green-2: #0bb927;
$opaqe-green: #86c0a14a;
$green-2: #86c0a1;
$teal: #5fc4ba;
$cyan: #17a2b8;
$white: #fff;
$coral-red: #fc4242;

$gray-background: #f6f6f6;
$gray-background-2: #9b9b9b;

$black-global-background: #161616;

$black: #000;
$gray: #6c757d;
$gray-2: #9d9d9d;
$gray-subdued: #aab0b6;
$gray-medium-dark: #aab0b6;
$gray-alternate: #f6f6f6;
$gray-light: #f4f4f4;
$gray-light-1: #e4e3e3;
$gray-light-2: #cfd2d5;
$gray-light-3: #bbb;
$gray-light-4: #eeeeee;
$gray-medium-dark: #666666;
$gray-dark: #343a40;
$gray-darker: #212121;

$blue: #469eef;
$dark-blue: #11153e;
$yellow-2: #f2a91b;
$orange-2: #f0997a;
$opaque-white: #ffffff33;
$opaque-blue: #666af521;

$faded-red: #d84745;
$header-dark-gray: #333333;
$header-light-gray: #6c6c6c;

$navbar-bg-color: #d9d9d9;

$slider-card-border: #e7eaec;
$slider-card-text-color: #133240;
$slider-bullet-color: #889ea9;
$slider-bullet-active-color: #469eef;
$slider-navigation-button-passive-text: #889ea9;
$slider-navigation-button-passive-border: $navbar-bg-color;

$blue-bg-glow: #5a6ded;
$green-bg-glow: #187e4f;
