$white: #fff;
$primary-dark: #c50909;
$black: #000;
$opaque-white: #ffffff33;
$opaque-blue: #666af521;
$red: #c50909;

$blue: #469eef;
$purple: #b476cd;
$green: #28a745;
$yellow: #ffc107;
$teal: #5fc4ba;
